* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: white;
    color: black;
}

nav {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-logo {
    width: 200px;
    margin: 60px;
}


nav a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
}

.link {
    color: #4285f5;
}


ul {
    list-style: none;
    margin: 6rem;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title {
    font-size: 2rem;
    margin: 1rem 6rem;
}


.buttons {
    margin-left: 6rem;
}

.fa-brands {
    padding: 5px;
}

.fa-google {
    background-color:#4285f5;
    color: white;
    width: 250px;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 3rem;
    margin: 2rem auto;
    cursor: pointer;
}


.fa-facebook {
    background-color:#4268b2;
    color: white;
    width: 250px;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 3rem;
    margin: 2rem auto;
    cursor: pointer;
}



.line {
    margin-left: 1rem;
    font-size: 1rem;
}

/* formualario */

form {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    min-width: 20%;
    margin: 70px 70px;
}


.form__input {
    padding: 0.8rem 1rem;
    margin: 0.5rem 0;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 0.8rem 0 0;
}

.form__checkbox {
    appearance: none;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 4px;
    position: relative;
    margin-left: 0.8rem;
}

.form__btn {
    width: 250px;
    border: none;
    border-radius: 25px;
    padding: 1rem 2rem;
    margin: 2rem 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
}